#header {
    background-color: #000;
}

.flexslider .slider-hero{
    max-height: 436px;
    height: 436px;
    min-height: auto;
}

.flexslider .contents_wrapper>div{
 height: 436px;
}

.slider-hero .hero-message-container{
    min-height: 436px !important;
    margin: 0 !important;
    padding: 0px 8%;
}

.slider-hero .hero-message{
    padding: 0px !important;
}

.template-heroPlain .slider-hero .hero-message h2{
    font-family: Proxima Nova Extra Bold;
    font-size: 60px;
    font-weight: bold;
    line-height: 48px;
}

.template-heroPlain .slider-hero .hero-message h3{
    margin-top: 38px;
    font-family: Proxima Nova Black;
    font-size: 24px;
    font-weight: 600;
}

[class^=template-hero] .slider-hero a.btn.read-more{
    margin-top: 50px;
    width: 210px;
    line-height: 40px;
    font-family: Proxima Nova Black;
    background-color: #00b32d;
    padding: 0px;
    border: 0px !important;
    font-weight: normal;
}



.discover-calendar{
    padding-top: 55px;
}

.discover-calendar h3{
    font-family: Proxima Nova Extra Bold;
    font-size: 30px;
    font-weight: normal;
    color: #000000;
    line-height: 60px;
}


.discover-calendar a.btn{
    height: 55px;
    border: solid 1px #a3a3a3;
    background-color: #ffffff;
    width: 300px;
    line-height: 55px;
    padding: 0px;
    margin: 0 auto;
    font-family: Proxima Nova Extra Bold;
    font-size: 20px;
    font-weight: normal;
    color: #000;
}

.discover-calendar a.btn .fa-chevron-right{
    line-height: 55px;
}

.wrapwidg.events-card-list{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.wrapwidg.events-card-list .contents_wrapper{
    width: 100%;
    display: block;
    margin: 80px auto 0px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element{
    min-height: 435px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section{
    height: 480px;

}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .event-cover{
    height: 130px;
    background-size: cover;
    background-position: center;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .border-text{
    height: 350px;
    border: solid 1px #e3e3e3;
    border-top: 0px;
    padding: 20px 30px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .border-text .event-title{
    padding: 10px 0px 15px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .fx-xs-display{
    font-family: Proxima Nova Black;
    font-size: 14px;
    font-weight: bold;
    color: #393939;
    text-transform: uppercase;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .event-title a{
    font-family: Proxima Nova Extra Bold;
    font-size: 22px;
    font-weight: normal;
    color: #030303;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: bold;
    line-height: 22px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element article event-datetime{
    font-family: Proxima Nova Black;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section article .event-abstract{
    font-family: Proxima Nova Black;
    font-size: 14px;
    color: #030303;
    font-weight: normal;
    padding-top: 25px;
}

