#header {
    background-color: #000;
}

.flexslider .slider-hero{
    max-height: 436px;
    height: 436px;
    min-height: auto;
}

.flexslider .contents_wrapper>div[class^="template-"]{
 height: 436px;
}