body{
    background-color: #fff;
}

#mainwrap{
    max-width: 1440px;
}

#mainwrap .flexslider{
    margin-bottom: 0px !important;
}

#mainwrap .lastPBColumn{
    background-image: linear-gradient(56deg, #fcfcfc 6%, #f8f8f8 96%);
}

#mainwrap .lastPBColumn .wrapwidg{
    background-color: transparent;
    padding: 0px;
}

.flexslider .contents_wrapper>div[class^="template-"]{
    background-color: transparent !important;
}

#header {
    background-color: #000;
    left: auto;
    max-width: 1440px;
}
#mainwrap #header [data-network-logo]{
    width: 237px;
    background-position: center;
    background-size: 100% auto;
    margin-left: 28px;
}

#header #navbar-xchange-first-level .nav-tabs [role="presentation"] > a{
    font-family: Proxima Nova Regular;
    font-size: 15px;
    text-transform: inherit;
    padding: 0px 20px;
    line-height: 59px;
    border: 0px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#header #navbar-xchange-first-level .nav-tabs [role="presentation"] > a:hover{
    background-color: initial;
    opacity: 0.5;
    color: #fff;
}

#header #navbar-xchange-first-level .nav-tabs [role="presentation"] > a.active{
    font-family: Proxima Nova Extra Bold;
}

.dropdown.user_menu{
    height: 39px;
    margin: 10px 10px 10px 0px;
    padding: 0px 0px 0px 10px;
    width: 49px;
    border-left: solid 1px #fff;
}

.dropdown.user_menu .dropdown-toggle{
    background-color: #000;
    border-radius: 0;
    border: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    height: 23px;
    background-position: center;
    width: 23px;
    margin-top: 6px;
}

#footer .webinars-footer{
    height: 50px;
    background-color: #000;
    max-width: 1440px;
    margin: 0 auto;
}

#footer .webinars-footer .nav-tabs{
    border: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

#footer .webinars-footer .nav-tabs li{
    font-family: Proxima Nova Semibold;
    font-size: 14px;
    color: #fff;
}

#footer .webinars-footer .nav-tabs li:last-child a{
    border-right: 0px;
}

#footer .webinars-footer .nav-tabs li a{
    color: #fff;
    padding: 0px 15px;
    line-height: 15px;
    border: 0px;
    border-right: solid 1px #fff;
    margin-top: 15px;
    border-radius: 0px;
}

#footer .webinars-footer .nav-tabs li a:hover{
    background-color: transparent;
}

.flexslider .slider-hero{
    max-height: 355px;
    height: 355px;
    min-height: auto;
    background: transparent !important;
}

.flexslider .contents_wrapper>div{
    background: transparent !important;
}

.slider-hero .hero-image-container{
    background-size: cover !important;
    background-position: center 85% !important;
    background-repeat: no-repeat !important;
}

.flexslider .contents_wrapper>div{
 height: 355px;
}

.slider-hero .hero-message-container{
    min-height: 355px !important;
    margin: 0 !important;
    padding: 0px 15%;
}

.slider-hero .hero-message{
    padding: 0px !important;
}

.template-heroPlain .slider-hero .hero-message h2{
    font-family: Proxima Nova Black;
    font-size: 60px;
    font-weight: bold;
    line-height: 48px;
}

.template-heroPlain .slider-hero .hero-message h3{
    margin-top: 38px;
    font-family: Proxima Nova Semibold;
    font-size: 24px;
    font-weight: 600;
}

.template-heroPlain .slider-hero .hero-message .hero-link-url{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.template-heroPlain .slider-hero .hero-message .hero-link-url .btn.btn-default{
    margin-left: 10px;
    line-height: 40px;
    padding: 0px;
    width: 40px;
    display: block;
}

.template-heroPlain .slider-hero .hero-message .hero-link-url .btn.btn-default .fa-calendar{
    color: #3d3d3d;
    font-size: 20px;
    line-height: 40px;
    padding: 0px !important;
    display: block;
}

[class^=template-hero] .slider-hero a.btn.read-more{
    margin: 35px 0px 0px 0px;
    width: 230px;
    line-height: 40px;
    font-family: Proxima Nova Regular;
    background-color: #fff;
    padding: 0px;
    border: 0px !important;
    font-weight: normal;
    color: #3d3d3d !important;
    font-size: 20px;
    text-transform: inherit;
}

[class^=template-hero] .slider-hero a.btn.read-more .fa-arrow-right{
    color: #3d3d3d !important;
    display: inline;
}

.discover-calendar{
    position: relative;
}

.discover-calendar h3{
    font-family: Proxima Nova Semibold;
    font-size: 40px;
    font-weight: 600;
    padding: 50px 0px 45px 0px;
    color: #3d3d3d;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.discover-calendar .go-to-calendar{
    position: absolute;
    right: 15px;
    top: calc(50% - 17px);
    font-family: Proxima Nova Semibold;
    font-size: 16px;
    font-weight: 600;
    border: 0px;
    color: #3d3d3d;
    padding-right: 1px;
    background-color: transparent;
}

.discover-calendar .go-to-calendar .fa-calendar{
    padding-right: 0px !important;
    font-size: 25px;
}

.wrapwidg.events-card-list{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.wrapwidg.events-card-list .contents_wrapper{
    width: 100%;
    display: block;
    margin: 0px auto 0px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    align-items: stretch;
    -webkit-align-items: stretch;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0px 7px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    /* width: 33.3%; */
    padding: 10px;
    float: none;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section{
    border: solid 1px #e3e3e3;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px #e3e3e3;
    height: 100%;
    position: relative;
    padding-bottom: 60px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section article #event-sessions-area{
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-family: Proxima Nova Extra Bold;
    font-size: 16px;
    color: #3d3d3d;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section article #event-sessions-area .button-container button.btn,
.wrapwidg.events-card-list .contents_wrapper .content-list-element section article #event-sessions-area .link-container button{
    text-decoration: underline;
    color: #3d3d3d;
    cursor: pointer;
    border: none;
    padding-left: 0px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section article #event-sessions-area .button-container button.btn span{
    display: none;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section article #event-sessions-area .link-container .btn{
    margin-top: 10px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .event-cover{
    display: block;
    height: 130px;
    background-size: cover;
    background-position: center;
    border-bottom: solid 1px #e3e3e3;
    position: relative;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .event-cover .live-now-badge{
    position: absolute;
    right: 0px;
    line-height: 28px;
    height: 28px;
    background-color: #fff;
    width: 100px;
    padding-left: 10px;
    top: 30px;
    color: #3d3d3d;
    font-family: Proxima Nova Bold;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .event-cover .live-now-badge:after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 8px;
    right: 10px;
    background-color: #ff0000;
    border-radius: 100%;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .event-cover .live-now-badge:before{
    content: " ";
    position: absolute;
    width: 5px;
    height: 28px;
    left: -10px;
    top: 0px;
    border: solid 14px #fff;
    border-left: solid 5px transparent;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .border-text{
    padding: 20px 30px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .border-text .share{
    position: absolute;
    bottom: 20px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .border-text .share button{
    padding: 0px;
    width: 20px;
    height: auto;
    border: 0px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .border-text .share button span {
    padding: 0px !important;
    font-size: 20px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .border-text .event-title{
    padding: 10px 0px 15px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .fx-xs-display{
    font-family: Proxima Nova Bold;
    font-size: 16px;
    font-weight: bold;
    color: #393939;
    text-transform: uppercase;
    line-height: 10px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .fx-xs-display.event-datetime{
    display: block;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .fx-xs-display.event-datetime .event-date,
.wrapwidg.events-card-list .contents_wrapper .content-list-element section .fx-xs-display.event-datetime .event-time{
    font-size: 17px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .fx-xs-display.event-datetime .event-time{
    line-height: 25px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .fx-xs-display .event-type{
    padding-right: 5px;
    border-right: solid 1px #3d3d3d;
    margin-right: 5px;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section .event-title a{
    font-family: Proxima Nova Extra Bold;
    font-size: 24px;
    font-weight: normal;
    color: #3d3d3d;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: bold;
    line-height: 22px;
    overflow-wrap: break-word;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element article event-datetime{
    font-family: Proxima Nova Black;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.wrapwidg.events-card-list .contents_wrapper .content-list-element section article .event-abstract{
    font-family: Proxima Nova Regular;
    font-size: 16px;
    color: #030303;
    font-weight: normal;
    padding-top: 25px;
}

/* Pagina di dettaglio */
.container.container-event-detail{
    width: auto;
    /*max-width: 1440px;*/
    padding: 0px;
    margin: 0px;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget{
    margin: 0px;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .past-event .esquire_row .esquire,
.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .past-event .esquire-image-container{
    height: 385px;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .past-event .esquire_row .esquire .esquire-message-container .share-until{
    display: none;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire{
    height: 640px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: left;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-height: initial;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container{
    color: #fff;
    min-height: auto;
    display: block;
    height: auto;
    width: 100%;
    padding-left: 9.5%;
    max-height: inherit;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .share-until{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .share-until .share {
    width: 32px;
    height: 32px;
    border: solid 1px #fff;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .share-until .share button{
    background-color: transparent;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: #fff;
    border: 0px;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .share-until .share button span{
    padding: 0px !important;
    font-size: 18px;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .share-until .days-until{
    width: auto;
    line-height: 36px;
    text-align: center;
    color: #3d3d3d;
    font-family: Proxima Nova Extra Bold;
    font-size: 18px;
    background-color: #fff;
    position: relative;
    padding: 0px 15px 0px 10px;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .share-until .days-until.live-now{
    padding: 0px 30px 0px 10px;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .share-until .days-until.live-now::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 10px;
    right: 10px;
    background-color: #ff0000;
    border-radius: 100%;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .share-until .days-until::after{
    content: " ";
    position: absolute;
    width: 5px;
    height: 36px;
    left: -10px;
    top: 0px;
    border: solid 16px #fff;
    border-left: solid 5px transparent;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .esquire-message{
    text-align: left;
    width: 800px;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .esquire-message .text-uppercase h2:not(.section_title){
    font-family: Proxima Nova Extra Bold !important;
    font-size: 60px !important;
    line-height: 55px !important;
    padding: 0px 0px 20px 0px;
    color: inherit !important;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .type-language{
    font-family: Proxima Nova Bold;
    font-size: 18px;
    line-height: 16px;
    padding-bottom: 25px;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .event-datetime{
    font-family: Proxima Nova Bold;
    font-size: 30px;
    line-height: 30px;
    display: block;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .event-actions-container{
    padding-top: 25px;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .event-actions-container .status{
    padding-bottom: 15px;
    font-size: 20px;
    font-family: Proxima Nova Bold;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .event-actions-container button{
    width: 255px;
    height: 45px;
    font-family: Proxima Nova Regular;
    font-size: 20px;
    color: #3d3d3d;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .event-actions-container a.btn-default{
    width: 255px;
    height: 45px;
    font-family: Proxima Nova Regular;
    font-size: 20px;
    color: #3d3d3d;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .cancel-registation{
    margin-top: 15px;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .cancel-registation button{
    font-family: Proxima Nova Semibold;
    text-decoration: underline;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .fx-xs-display .pipe{
    padding: 0px 8px;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container h2:not(.section_title){
    font-size: 60px !important;
    font-family: Proxima Nova Extra Bold !important;
    line-height: 65px !important;
    margin: 0px !important;
}

.container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire-image-container{
    width: 100%;
    height: 640px;
    background-position: center;
    background-size: cover;
    max-height: initial;
}

.past-event .content-rich-metas .row.row-flexWrap{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.past-event .content-rich-metas .row .col-sm-6.video-container{
    padding: 55px 90px 50px 65px;
    min-height: 320px;
}

.past-event .content-rich-metas .row .col-sm-6.video-container>div{
    min-height: 320px;
}

.past-event .content-rich-metas .row .col-sm-6.about{
    padding: 55px 90px 50px 65px;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    justify-content: center;
}

.past-event .content-rich-metas .row .col-sm-6.about .section_title{
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
}

.past-event .content-rich-metas .row .col-sm-6.about div.rich-description{
    width: 100%;
}

.past-event .content-rich-metas .row .col-sm-6.about div,
.past-event .content-rich-metas .row .col-sm-6.learn div{
    width: 100%;
}

#home-wrapcontent .wrapcontent_padding{
    padding-bottom: 0px;
}

.content-rich-metas .row .about,
.content-rich-metas .row .learn{
    padding: 60px 11.5% 45px 14.5%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.content-rich-metas .row .learn {
    background: #00304a; /* Old browsers */
    background: -moz-linear-gradient(to left bottom, #096398, #02517d, #004063, #00304a, #002033); /* FF3.6-15 */
    background: -webkit-linear-gradient(to left bottom, #096398, #02517d, #004063, #00304a, #002033); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to left bottom, #096398, #02517d, #004063, #00304a, #002033);
}

.content-rich-metas .row .about div,
.content-rich-metas .row .learn div{
    width: 47%;
}

.content-rich-metas .row .about .section_title {
    color: #3d3d3d;
}

.content-rich-metas .row .learn{
    color: #fff;
}

.content-rich-metas .row .about .section_title,
.content-rich-metas .row .learn .section_title{
    font-size: 40px;
    margin: 0px;
    line-height: 46px;
    font-family: Proxima Nova Semibold;
    width: 260px;
}

.content-rich-metas .row .about div.rich-description,
.content-rich-metas .row .learn div.rich-description{
    font-family: Proxima Nova Regular;
    font-size: 18px;
    line-height: 28px;
}

.content-rich-metas .row .about div.rich-description ul,
.content-rich-metas .row .learn div.rich-description ul{
    padding-left: 20px;
}

.content-rich-metas .row .about div.rich-description{
    width: 53%;
    color: #3d3d3d;
}

.content-rich-metas .rich-description p{
    margin-bottom: 20px;
    font-style: normal;
}

.content-rich-metas .rich-description p em{
    font-style: normal;
}

.content-rich-metas .row.when-and-where{
    text-align: center;
    padding: 70px 6.5% 60px;
}

.content-rich-metas .row.when-and-where .section_title{
    font-family: Proxima Nova Semibold;
    padding: 0px;
    margin: 0px;
    font-size: 40px;
    line-height: 40px;
    color: #3d3d3d;
}

.content-rich-metas .row.when-and-where .event-datetime{
    font-family: Proxima Nova Bold;
    font-size: 18px;
    line-height: 22px;
    color: #3d3d3d;
    padding: 30px 0px 25px 0px;
}

.content-rich-metas .row.when-and-where .rich-description{
    font-family: Proxima Nova Regular;
    font-size: 18px;
    color: #3d3d3d;
    font-weight: normal;
}

.content-rich-metas .row.when-and-where .rich-description p{
    margin-bottom: 10px;
}

.clearfix.content_details.content_details_editorial{
    padding: 0px;
    margin: 0px !important;
}

.more{
    margin: 15px 15px 0px;
}

.more a.pager-more{
    width: 264px;
    line-height: 45px;
    color: #fff;
    background-color: #00af00;
    text-align: center;
    font-family: Proxima Nova Regular;
    display: block;
    margin: 0 auto 45px auto;
    height: 45px;
    font-size: 20px;
    padding: 0px;
    border: 0px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.more a.pager-more .pager-icon{
    display: none;
}

/* Inizio pagina di calendario */

.fc-view, .fc-view>table{
    padding-bottom: 80px;
}

.wrapwidg.plugin_contentFullCalendar{
    border: 0px;
    margin: 0px;
    padding: 55px 20px 80px 20px !important;
}

.wrapwidg.plugin_contentFullCalendar .widget_title{
    padding: 0px;
    font-size: 40px;
    line-height: 68px;
    color: #3d3d3d;
    height: auto;
    font-family: Proxima Nova Semibold;
    border-bottom: 0px;
}

.wrapwidg.plugin_contentFullCalendar .widget_padding .fc-toolbar{
    padding-top: 16px;
    padding-bottom: 35px;
}

.wrapwidg.plugin_contentFullCalendar .widget_padding .fc-toolbar .fc-left h2{
    font-family: Proxima Nova Bold;
    font-size: 24px;
    color: #3d3d3d;
}

.wrapwidg.plugin_contentFullCalendar .widget_padding .fc-toolbar .fc-left .fc-today-button{
    display: none;
}

.wrapwidg.plugin_contentFullCalendar .fc-head>tr>td.fc-head-container.fc-widget-header{
    border: solid 1px #adadad;
    border-bottom: 0px;
}

.wrapwidg.plugin_contentFullCalendar .fc-body>tr>td.fc-widget-content{
    border: solid 1px #adadad;
    border-top: 0px;
}

.wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-row.fc-widget-header tr{
    height: 63px;
    opacity: 0.9;
    background-color: #ebebeb;
    min-height: auto !important;
}

.wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-row.fc-widget-header tr th{
    vertical-align: middle;
    height: 63px;
    text-align: left;
    padding-left: 20px;
    font-family: Proxima Nova Bold;
    font-size: 16px;
}

.wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-day-grid-container .fc-row.fc-week.fc-widget-content .fc-bg .fc-past{
    background-color: #f6f6f6;
}

.wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-day-grid-container .fc-row.fc-week.fc-widget-content .fc-bg .fc-day{
    border: solid 1px #dcdcdc;
}

.wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-day-grid-container .fc-row.fc-week.fc-widget-content .fc-bg .fc-today{
    background-color: #fff;
}

.wrapwidg.plugin_contentFullCalendar .fc-basic-view .fc-body .fc-row{
    min-height: 180px;
}

.wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-day-grid-container .fc-row.fc-week.fc-widget-content .fc-content-skeleton .fc-day-number{
    padding-top: 7px;
    padding-right: 12px;
    padding-bottom: 25px;
}

.wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-day-grid-container .fc-row.fc-week.fc-widget-content .fc-content-skeleton .fc-day-number span{
    margin: 0px;
    display: block;
    float: right;
    font-size: 16px;
    font-family: Proxima Nova Regular;
}

.wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-day-grid-container .fc-row.fc-week.fc-widget-content .fc-content-skeleton .fc-day-number.fc-today span {
    width: 30px;
    height: 30px;
    background-color: #3d3d3d;
    text-align: center;
    border-radius: 100%;
    color: #fff;
    line-height: 30px;
    font-weight: bold;
}

.wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-day-grid-container .fc-event-container a.fc-day-grid-event{
    display: block;
    border: solid 1px #000000;
    background-color: #ffffff;
    color: #3d3d3d !important;
    padding: 10px 14px;
}

.wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-day-grid-container .fc-event-container.fc-past a.fc-day-grid-event{
    border: 0px;
    background-color: #ebebeb;
}

.wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-day-grid-container .fc-event-container a.fc-day-grid-event .fc-content{
    font-size: 14px !important;
}

.wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-day-grid-container .fc-event-container a.fc-day-grid-event .fc-content .fc-time{
    display: block;
    font-family: Proxima Nova Regular;
    font-weight: normal;
}

.wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-day-grid-container .fc-event-container a.fc-day-grid-event .fc-content .fc-title{
    font-family: Proxima Nova Extra Bold;
}

/* Fine pagina di calendario */

/* Fine pagina di dettaglio */
#webinarFilters {
    border: 0px;
}

#webinar-date-filters{
    border: solid 1px #d2d2d2;
    margin: 15px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 28px;
    background-color: #fff;
}

#webinar-date-filters .webinar-date-filters-container{
    width: 220px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#webinar-date-filters .webinar-date-filters-container .dateFilter{
    font-family: Proxima Nova Regular;
    font-size: 16px;
}

#webinar-date-filters .webinar-date-filters-container .fa-square,
#webinar-date-filters .webinar-date-filters-container .fa-square-o{
    padding: 0px !important;
    width: 21px;
    height: 21px;
    border: solid 1px #979797;
    background-color: #ffffff;
    margin-right: 7px;
    position: relative;
}

#webinar-date-filters .webinar-date-filters-container .fa-square{
    text-align: center;
    line-height: 14px;
}

#webinar-date-filters .webinar-date-filters-container .fa-square::before{
    font-size: 13px;
    color: #3d3d3d;
    position: absolute;
    right: 4px;
    top: 3px;
}

.all-webinars{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 60px 25px 30px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.all-webinars .title{
    font-size: 40px;
    line-height: 68px;
    font-family: Proxima Nova Semibold;
    margin: 0px;
}

.all-webinars .go-to-calendar{
    font-family: Proxima Nova Semibold;
    font-size: 16px;
    font-weight: 600;
    border: 0px;
    color: #3d3d3d;
    line-height: unset;
    padding: 0px;
    height: 30px;
    background-color: transparent;
}

.all-webinars .go-to-calendar .fa-calendar{
    padding-right: 0px !important;
    font-size: 25px;
    margin-left: 10px;
}

/* Iniizio pagina dei wallet */

/* Fine pagina dei wallet  */

/* Inizio Modali */

#event-cancel-modal .modal-dialog .modal-content{
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #d2d2d2;
    background-color: #ffffff;
    max-width: 400px;
    margin: 0 auto;
}

#event-cancel-modal .modal-dialog .modal-content .modal-header{
    background-color: #fff;
    border-bottom: solid 1px #e9e9e9;
    padding: 0px;
}

#event-cancel-modal .modal-dialog .modal-content .modal-header button.close,
#event-enrollment-modal .modal-dialog .modal-content .modal-header button.close{
    color: #3d3d3d;
    position: absolute;
    top: 15px;
    right: 10px;
    font-family: Proxima Nova Semibold;
    font-size: 40px;
}

#event-cancel-modal .modal-dialog .modal-content .modal-header button.close span,
#event-enrollment-modal .modal-dialog .modal-content .modal-header button.close span{
    line-height: 37px;
    height: 32px;
    display: block;
}

#event-cancel-modal .modal-dialog .modal-content .modal-header .modal-title{
    font-family: Proxima Nova Semibold;
    font-size: 24px;
    line-height: 24px;
    padding: 20px 25px 10px 25px;
    color: #3d3d3d;
}

#event-cancel-modal .modal-dialog .modal-content .modal-body{
    font-family: Proxima Nova Regular;
    font-size: 16px;
    line-height: 21px;
    padding: 15px 15px 15px 25px;
}

#event-cancel-modal .modal-dialog .modal-content .modal-footer{
    padding-bottom: 45px;
    text-align: center;
    border: 0px;
}

#event-cancel-modal .modal-dialog .modal-content .modal-footer .btn{
    width: 130px;
    font-family: Proxima Nova Regular;
    font-size: 20px;
    text-align: center;
    border-radius: 0px;
}

#event-cancel-modal .modal-dialog .modal-content .modal-footer .btn:hover{
    background-color: initial;
}

#event-cancel-modal .modal-dialog .modal-content .modal-footer .btn.btn-default{
    border: solid 1px #3d3d3d;
    color: #3d3d3d;
    margin-right: 20px;
}

#event-cancel-modal .modal-dialog .modal-content .modal-footer .btn.btn-primary{
    color: #fff;
    border: 0px;
    background-color: #00b32d;
}

/* modale registrazione evento */

#event-enrollment-modal .modal-dialog .modal-content{
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #d2d2d2;
    background-color: #ffffff;
    max-width: 520px;
    margin: 0 auto;
    padding: 35px 35px 60px 35px;
}

#event-enrollment-modal .modal-dialog .modal-content .modal-header{
    border-bottom: 0px;
    padding: 0px;
    min-height: 0px;
    background-color: transparent;
}

#event-enrollment-modal .modal-dialog .modal-content .modal-body{
    text-align: center;
    padding: 0px;
}

#event-enrollment-modal .modal-dialog .modal-content .modal-body i.fa{
    color: #00b32d;
    font-size: 48px;
}

#event-enrollment-modal .modal-dialog .modal-content .modal-body .modal-title{
    padding: 45px 0px 15px 0px;
    font-family: Proxima Nova Semibold;
    font-size: 24px;
    line-height: 24px;
}

#event-enrollment-modal .modal-dialog .modal-content .modal-body .modal-description{
    font-family: Proxima Nova Regular;
    font-size: 16px;
    line-height: 20px;
}

.content-rich-metas .row .video-container{
    padding: 30px 0px 50px;
}

.content-rich-metas .row .video-container h3.section_title{
    font-family: Proxima Nova Semibold;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin: 0px;
}

.content-rich-metas .row .video-container>div{
    margin: 0 auto;
    max-width: 720px !important;
}

/* Fine modale registrzione evento */

/* Fine Modali */

/* Cookies */
.cc-cookies{
    margin: 0 auto;
    padding: 45px 27% 60px 5% !important;
    font-family: Proxima Nova Regular;
    font-size: 14px !important;
    line-height: 20px;
    background-color: rgba(0,0,0,0.83) !important;
    left: auto !important;
}

.cc-cookies a.cc-cookie-accept{
    background-color: transparent !important;
    height: 42px;
    line-height: 42px;
    width: 75px;
    font-family: Proxima Nova Regular;
    font-size: 20px;
    font-weight: normal;
    border: solid 1px #fff;
    display: block !important;
    padding: 0px !important;
    margin: 0px;
    border-radius: 0px !important;
    position: absolute;
    right: 10%;
    top: 60px;
}

.strappato-white-01 .bg-white.w-100{
    border: 0px;
}

.strappato-white-01 .bg-white.w-100 section.fx-xs-display>div{
    width: 100%;
    padding: 0px;
}

.strappato-white-01 .bg-white.w-100 section.fx-xs-display .col-sm-4 label{
    border: 0px;
}

.strappato-white-01 .bg-white.w-100 section.fx-xs-display .col-sm-4 label .list-group-item-heading{
    text-align: center;
    font-family: Proxima Nova Extra Bold;
    font-size: 30px;
    margin: 0;
    color: #3d3d3d;
}

.strappato-white-01 .bg-white.w-100 section.fx-xs-display .col-sm-8 section{
    padding-bottom: 30px;
    flex-wrap: wrap;
    text-align: center;
}

.strappato-white-01 .bg-white.w-100 section.fx-xs-display .col-sm-8 section>div,
.strappato-white-01 .bg-white.w-100 section.fx-xs-display .col-sm-8 section>ul,
.strappato-white-01 .bg-white.w-100 section.fx-xs-display .col-sm-8 section h3,
.strappato-white-01 .bg-white.w-100 section.fx-xs-display .col-sm-8 section h4{
    width: 100%;
    margin: 10px 0px;
    color: #3d3d3d;
}

.strappato-white-01 .bg-white.w-100 section.fx-xs-display .col-sm-8 section ul #user_admin{
    flex-wrap: wrap;
}

.strappato-white-01 .bg-white.w-100 section.fx-xs-display .col-sm-8 section ul #user_admin .fx-xs-display .ml-1{
    margin: 0 auto 20px auto;
}

.strappato-white-01 .bg-white.w-100 section.fx-xs-display .col-sm-8 section ul #user_admin > div{
    width: 100%;
    text-align: center;
}

.strappato-white-01 .bg-white.w-100 section.fx-xs-display .col-sm-8 section ul #user_admin > button{
    width: 330px;
    margin: 0 auto;
}

.strappato-white-01 .bg-white.w-100 section.fx-xs-display .col-sm-8 section button {
    background-color: #00af00;
    width: 330px;
    height: 45px;
    color: #fff;
    font-family: Proxima Nova Regular;
    padding: 0px;
    font-size: 20px;
    border: 0px;
}

/* not found */

body.notFound .wrapcontent_padding #main{
    min-height: calc(100vh - 109px);
}

body.notFound .wrapcontent_padding #main .wrapwidg{
    border: 0px;
}

body.notFound .wrapcontent_padding #main .wrapwidg .courtesy-square{
    padding-top: 50px;
    font-family: Proxima Nova Regular;
    font-size: 20px;
    text-align: center;
    color: #3d3d3d;
}

body.notFound .wrapcontent_padding #main .wrapwidg .courtesy-square h2{
    font-family: Proxima Nova Semibold;
    font-size: 40px;
}

body.notFound .wrapcontent_padding #main .wrapwidg .courtesy-square .button{
    float: none;
    color: #3d3d3d !important;
}

body.notFound .wrapcontent_padding #main .wrapwidg .courtesy-square .button:hover{
    text-decoration: underline !important;
}

@media (max-width: 1199px) {

    .wrapwidg.events-card-list .contents_wrapper .content-list-element section .border-text{
        padding: 20px 20px;
    }

    .container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .esquire-message{
        width: 650px;
    }

    /*[class^="wrapwidg hero"],
    [class^="wrapwidg hero"] .flexslider,
    [class^="wrapwidg hero"] .contents_wrapper,
    [class^="wrapwidg hero"] .contents_wrapper > div,
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero,
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message,
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message-container,
    [class^="wrapwidg hero"] .contents_wrapper > div .hero-image-container,
    [class^="wrapwidg hero"] .contents_wrapper > div .hero-video-container, .slides{
        max-height: 355px;
        height: 355px;
        min-height: initial !important;
    }*/
}

@media (max-width: 1024px) {

    [class^="wrapwidg hero"],
    [class^="wrapwidg hero"] .flexslider,
    [class^="wrapwidg hero"] .contents_wrapper,
    [class^="wrapwidg hero"] .contents_wrapper > div,
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero,
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message,
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message-container,
    [class^="wrapwidg hero"] .contents_wrapper > div .hero-image-container,
    [class^="wrapwidg hero"] .contents_wrapper > div .hero-video-container,
    .slides {
        height: 100% !important;
        min-height: 350px !important;
        width: 100% !important;
    }

    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message h2{
        margin-top: 0px !important;
        font-size: 50px !important;
    }

    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message h3{
        display: block;
        margin-top: 20px;
    }

    .template-heroPlain .slider-hero .hero-message .hero-link-url{
        margin-top: 30px;
    }

    .wrapwidg.events-card-list .contents_wrapper .content-list-element section .border-text{
        padding: 15px;
    }

    .slider-hero .hero-message-container{
        padding: 0px 5%;
    }

    .discover-calendar h3{
        font-size: 32px;
    }

    .wrapwidg.events-card-list .contents_wrapper .content-list-element section .fx-xs-display{
        flex-wrap: wrap;
    }

    .wrapwidg.events-card-list .contents_wrapper .content-list-element section .fx-xs-display .event-type{
        margin-bottom: 7px;
    }
}

@media (max-width: 992px){
    [class^="wrapwidg hero"],
    [class^="wrapwidg hero"] .flexslider,
    [class^="wrapwidg hero"] .contents_wrapper,
    [class^="wrapwidg hero"] .contents_wrapper > div,
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero,
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message,
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message-container,
    [class^="wrapwidg hero"] .contents_wrapper > div .hero-image-container,
    [class^="wrapwidg hero"] .contents_wrapper > div .hero-video-container,
    .slides, .flexslider, div.contents_wrapper > div.flex-active-slide,
    div.contents_wrapper > div .slider-hero,
    div.contents_wrapper > div .slider-hero .hero-message{
        min-height: 360px !important;
        max-height: 360px !important;
        height: 360px !important;
    }

    .fa-square-o::before {
        border: 0px;
        color: #fff;
    }
}

@media (max-width: 767px) {

    #header{
        height: 39px;
        min-height: 39px;
    }

    #mainwrap #header h1.logo{
        height: 30px;
        width: 215px;
        margin-left: 15px;
        margin-top: 5px;
    }

    .dropdown.user_menu{
        height: 39px;
        padding: 4px 0px 0px 0px;
        border: 0px;
        margin: 0px;
        width: 39px;
    }

    .dropdown.user_menu .btn {
        height: 25px;
        width: 25px;
        margin-top: 3px;
    }

    .wrapwidg .widget_padding .pull-right .pull-left{
        border-left: solid 1px #fff;
        padding-left: 8px;
    }

    #mainwrap {
        padding: 39px 0 0 0;
    }

    [class^="wrapwidg hero"],
    [class^="wrapwidg hero"] .flexslider,
    [class^="wrapwidg hero"] .contents_wrapper,
    [class^="wrapwidg hero"] .contents_wrapper > div,
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero,
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message,
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message-container,
    [class^="wrapwidg hero"] .contents_wrapper > div .hero-image-container,
    [class^="wrapwidg hero"] .contents_wrapper > div .hero-video-container,
    div.contents_wrapper > div.flex-active-slide.template-heroPlain,
    .slides {
        height: 325px !important;
        min-height: 325px !important;
        max-height: 325px !important;
    }

    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message h2{
        margin-top: 0px !important;
        font-size: 35px !important;
        line-height: 40px;
    }

    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message h2 span{
        padding: 0px !important;
    }

    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message h3{
        margin-top: 0px;
    }

    [class^=template-hero] .slider-hero a.btn.read-more {
        margin: 20px 0px 0px 0px;
    }

    .template-heroPlain .slider-hero .hero-message h3{
        font-size: 17px;
        line-height: 22px;
        padding: 0px;
    }

    .discover-calendar h3{
        font-size: 24px;
        line-height: 30px;
        margin: 0px;
        padding: 30px 0px 60px;
        text-align: center;
    }

    .discover-calendar .go-to-calendar {
        position: absolute;
        top: auto;
        width: 100%;
        left: 0px;
        bottom: 0px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        font-size: 12px;
    }

    .discover-calendar .go-to-calendar .fa-calendar{
        margin-right: 10px;
    }

    .wrapwidg.events-card-list .contents_wrapper .content-list-element section .event-cover{
        height: 105px;
    }

    .wrapwidg.events-card-list .contents_wrapper{
        margin: 0px;
    }

    .wrapwidg.events-card-list .contents_wrapper .content-list-element{
        padding: 0px 23px;
        min-height: initial;
    }

    .wrapwidg.events-card-list .contents_wrapper .content-list-element section{
        height: auto;
    }

    .wrapwidg.events-card-list .contents_wrapper .content-list-element section .border-text{
        padding: 20px 22px 60px 22px;
        height: auto;
    }

    .container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire,
    .container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire-image-container{
        height: 475px !important;
    }

    .container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container{
        padding: 0px 30px;
    }

    .container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .share-until .share{
        margin-bottom: -25px;
        width: 25px;
        height: 25px;
    }

    .container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .share-until{
        padding-bottom: 45px;
        align-items: flex-end;
    }

    .container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .share-until .days-until{
        line-height: 28px;
        margin-right: -30px;
    }

    .container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .share-until .days-until.live-now::before{
        top: 8px;
    }

    .container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .share-until .days-until::after{
        border: solid 14px #fff;
        border: solid 14px #fff;
        height: 28px;
        border-left: solid 5px transparent;
        border-right: 0px;
    }

    .container.container-event-detail{
        margin-top: -1px;
    }

    .container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .event-actions-container button{
        width: 100%;
    }

    .container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .type-language{
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 15px;
    }

    .container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .esquire-message .text-uppercase h2:not(.section_title){
        font-size: 32px !important;
        line-height: 32px !important;
        padding: 0px 0px 15px 0px;
    }

    .container.container-event-detail .wrapwidg.plugin_contentDetailWidget .esquire_row .esquire .esquire-message-container .event-datetime{
        font-size: 20px;
        line-height: 23px;
    }

    .wrapwidg.events-card-list .contents_wrapper .content-list-element section .border-text .share{
        position: relative;
        bottom: 0px;
        padding-top: 20px;
    }

    .clearfix.content_details.content_details_editorial{
        padding: 0px;
    }

    .content-rich-metas .row .about,
    .content-rich-metas .row .learn{
        padding: 35px 30px 30px 30px;
        -webkit-flex-wrap:wrap;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    }

    .content-rich-metas .row .about div,
    .content-rich-metas .row .learn div{
        width: 100%;
        padding-bottom: 20px;
    }

    .content-rich-metas .row .about div.rich-description,
    .content-rich-metas .row .learn div.rich-description{
        width: 100%;
        font-size: 16px;
        line-height: 21px;
        padding-bottom: 0px;
    }

    .content-rich-metas .row .about .section_title,
    .content-rich-metas .row .learn .section_title{
        font-size: 32px;
        line-height: 36px;
    }

    .content-rich-metas .row.when-and-where{
        padding: 35px 15px 50px 15px;
    }

    .content-rich-metas .row.when-and-where .section_title{
        font-size: 32px;
        line-height: 26px;
    }

    .content-rich-metas .row.when-and-where .event-datetime{
        padding: 20px 0px 15px 0px;
        font-size: 16px;
        display: block;
    }

    .content-rich-metas .row.when-and-where .event-datetime>div{
        display: inline;
    }

    .content-rich-metas .row.when-and-where .rich-description{
        font-size: 14px;
    }

    .past-event .content-rich-metas .row .col-sm-6.about{
        padding: 35px 15px 50px 15px;
    }

    .past-event .content-rich-metas .row .col-sm-6.video-container{
        padding: 35px 15px 0px 15px;
        width: 100%;
    }

    #footer .webinars-footer{
        border-top: solid 1px #979797;
        height: 30px;
    }

    #footer .webinars-footer .nav-tabs li{
        font-size: 12px;
        font-family: Proxima Nova Bold;
    }

    #footer .webinars-footer .nav-tabs li a{
        margin-top: 8px;
        line-height: 10px;
    }

    .all-webinars {
         margin: 20px 15px;
        -webkit-flex-wrap:wrap;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        flex-direction: column-reverse;
    }

    .all-webinars h3.title{
        width: 100%;
        text-align: left;
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 15px;
    }

    .all-webinars .go-to-calendar{
        width: 100%;
        text-align: center;
    }

    #allWebinars#mainwrap .lastPBColumn .wrapwidg{
        padding: 10px 0px;
        margin: 0px;
    }

    #webinar-date-filters{
        margin: 0px;
        padding: 15px 10px;
        justify-content: space-between;
    }

    #webinar-date-filters .webinar-date-filters-container{
        width: auto;
    }

    #allWebinars.wrapwidg.events-card-list .contents_wrapper .content-list-element{
        padding: 0px 15px;
    }

    .more a.pager-more{
        width: 100%;
    }

    .wrapwidg.plugin_contentFullCalendar{
        padding: 20px 15px 40px 15px !important;
    }

    .wrapwidg.plugin_contentFullCalendar h2.widget_title{
        font-size: 24px;
        line-height: 28px;
    }

    .wrapwidg.plugin_contentFullCalendar .widget_padding .fc-toolbar{
        height: 20px;
        padding: 0px;
        margin: 16px 0px 24px 0px !important;
    }

    .wrapwidg.plugin_contentFullCalendar .widget_padding .fc-toolbar .fc-left{
        width: 100%;
        display: flex;
        justify-content: space-between;
        float: none;
    }

    .wrapwidg.plugin_contentFullCalendar .widget_padding .fc-toolbar .fc-left h2{
        font-size: 16px;
    }

    .wrapwidg.plugin_contentFullCalendar .widget_padding .fc-toolbar .fc-left .fc-button-group .fc-icon:after{
        display: block;
        height: 16px;
        width: 16px;
        margin: 0px;
    }

    .wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-row.fc-widget-header tr{
        height: 45px;
    }

    .wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-row.fc-widget-header tr th{
        padding: 0px;
        text-align: center;
        font-size: 14px;
    }

    .wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-day-grid-container .fc-row.fc-week.fc-widget-content .fc-content-skeleton .fc-day-number{
        padding-top: 7px;
        padding-right: 0px;
        padding-bottom: 7px;
    }

    .wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-day-grid-container .fc-row.fc-week.fc-widget-content .fc-content-skeleton .fc-day-number span{
        text-align: center;
        float: none;
    }

    .fc-row .fc-content-skeleton table tbody{
        display: none;
    }

    .wrapwidg.plugin_contentFullCalendar .fc-basic-view .fc-body .fc-row{
        min-height: 40px;
    }

    .wrapwidg.plugin_contentFullCalendar .fc-view-container .fc-day-grid-container .fc-row.fc-week.fc-widget-content .fc-content-skeleton .fc-day-number.fc-today span{
        margin: 0 auto;
    }

    body.section_calendar #main{
        min-height: auto;
    }

    .fc-view, .fc-view>table{
        padding-bottom: 40px;
    }

    .cc-cookies{
        padding: 20px 20px 80px 20px !important;
    }

    .cc-cookies a.cc-cookie-accept{
        bottom: 0px;
        right: auto;
        top: auto;
        width: calc(100% - 40px);
    }
}
