:root, ::after, ::before  {
    --dark-blue: #151F27;
    --green-on-light: #02D34A;
    --primary-50: #02D34A;
    --green-on-dark: #00EA51;
    --primary-20: #00EA51;
    --neutral-100: #151F27;
    --neutral-90: #28333E;
    --neutral-80: #3F4D5A;
    --neutral-70: #586674;
    --neutral-60: #71808E;
    --neutral-50: #8D99A5;
    --neutral-40: #A9B3BC;
    --neutral-30: #C5CCD3;
    --neutral-20: #F4F8FC;
    --rose: #E50049;
    --rose-hover: #D50049;
    --border-100: #D6E0EA;

    --grid-width: 100%;
    --grid-columns: 4;
    --grid-gutter: 40px;
    --grid-padding: 40px;

    --calendar-row-height: 42px;

    --paragraph-title-fz: 28px;
    --paragraph-title-bottom-space: 24px;
}

@font-face {
    font-family: "Alaska";
    src: url("../alaska/Alaska_Light_Contrast.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Alaska";
    src: url("../alaska/Alaska_Medium_Contrast.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Alaska";
    src: url("../alaska/Alaska_Bold_Contrast.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "AlaskaExpanded";
    src: url("../alaska/Alaska_Expanded_Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "AlaskaExpanded";
    src: url("../alaska/Alaska_Expanded_Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "AlaskaExpanded";
    src: url("../alaska/Alaska_Bold_Ultra_Expanded.otf") format("opentype");
    font-weight: 700;
}

@media (min-width: 768px) {
    :root, ::after, ::before {
        --grid-columns: 8;
        --grid-padding: 64px;
        --calendar-row-height: 91px;

        --paragraph-title-bottom-space: 32px;
        --paragraph-title-fz: 28px;
    }
}

@media (min-width: 1024px) {
    :root, ::after, ::before {
        --grid-columns: 12;
        --calendar-row-height: 200px;
    }
}

@media (min-width: 1440px) {
    :root, ::after, ::before {
        --grid-width: min(100%, 1660px);

        --paragraph-title-bottom-space: 40px;
        --paragraph-title-fz: 36px;
    } 
}

body {
    font-family: 'Alaska', sans-serif;
    font-weight: 400;
    color: var(--neutral-100);
    background: white;
    margin: 0;
    box-sizing: content-box;
}

template-event.content-list-element.col-sm-4 section {
    display: grid;
    row-gap: 10px;
    box-shadow: 0px 14px 54px #E8EDF2;
    border-radius: 8px;
    overflow: hidden;
}

.border-text {
    display: grid;
    grid-template-rows: auto auto 1fr;
    padding: 32px;
    row-gap: 16px;
    flex-grow: 2;
}

.fx-xs-display.fx-xs-justify-flex-start.text-uppercase {
    grid-row: 2;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 140%;
    font-weight: 500;
    font-family: 'AlaskaExpanded';
}

header.event-title.text-uppercase {
    grid-row: 1;
}

div#lastContents733 {
    border: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    grid-column-gap: var(--grid-gutter);
    padding: 0px var(--grid-padding);
    width: 100%;
}

.contents_wrapper.row {
    display: grid !important;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    grid-column-gap: var(--grid-gutter);
    padding: 0px var(--grid-padding);
    width: var(--grid-width);
    margin: auto;
    row-gap: var(--grid-gutter);
}

.template-event.content-list-element.col-sm-4 {
    grid-column: span 4;
    margin: 0 !important;
    width: 100% !important;
    padding: 0 !important;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 14px 54px #E8EDF2;
}

.row::before {
    content: none !important;
}

.social-share {
    display: none;
}

a.event-cover {
    height: 132px;
    display: block;
    background-size: cover;
}

header.event-title a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    line-height: 130%;
    text-transform: none;
}

.event-datetime.fx-xs-display.fx-xs-justify-flex-start .event-date {
    display: none;
}

.event-datetime.fx-xs-display.fx-xs-justify-flex-start .event-time {
    position: relative;
    font-size: 14px;
    line-height: 170%;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.event-datetime.fx-xs-display.fx-xs-justify-flex-start .event-time:before {
    content: '';
    height: 16px;
    width: 16px;
    display: block;
    background: red;
    border-radius: 50%;
    flex-shrink: 0;
}

.event-abstract {
    font-size: 14px;
    line-height: 170%;
}

button.btn.btn-default.action {
    width: 100%;
    height: 48px;
    border: none;
    background: var(--neutral-100);
    border-radius: 4px;
    color: white;
    font-family: 'AlaskaExpanded';
    justify-self: stretch;
    font-weight: 500;
}


button.btn.btn-default.action span {
    display: none;
}

section.event-list-item.event-card {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.absolute-bottom {
    margin-top: auto;
    padding-top: 30px;
}

article {
    flex-grow: 2;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.hidden {
    display: none;
}

div#header {
    /* display: none; */
}

header#wi__header_reply {
    width: 100%;
    max-width: 100%;
}

div#webinarFilters {
    width: var(--grid-width);
    margin: auto;
    padding: 40px var(--grid-padding) 40px var(--grid-padding);
    box-sizing: border-box;
    border: none;
}

.discover-calendar.text-uppercase {
    width: var(--grid-width);
    margin: auto;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 40px var(--grid-padding) 0px var(--grid-padding);
}

.discover-calendar.text-uppercase:before {
    content: 'filter by';
    margin-left: 40px;
    text-transform: uppercase;
    color: var(--neutral-70);
    font-size: 10px;
    font-family: 'AlaskaExpanded';
}

.discover-calendar h3.title {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 72px;
    margin: 0px;
    font-weight: 500;
    font-family: 'Alaska';
    text-transform: none;
    line-height: unset;
    border: 1px solid rgba(214, 224, 234, 1);
}

.discover-buttons-home {
    order: 1;
    flex-grow: 2;
    justify-content: space-between;
    display: flex;
    padding-right: 50px;
    align-items: center;
}

a.btn.btn-default.go-to-viewall {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    padding: 8px 20px;
    border-radius: 72px;
    border: 1px solid var(--border-100);
}

a.btn.btn-default.go-to-calendar:before {
    content: 'View';
    font-size: 10px;
    color: var(--neutral-70);
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'AlaskaExpanded';
}

a.btn.btn-default.go-to-calendar span:not(.icon-moon) {
    text-decoration: none;
    order: 2;
    font-size: 14px;
    font-weight: 500;
}

a.btn.btn-default.go-to-calendar {
    display: flex;
    column-gap: 14px;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
}

span.icon-moon.icon-noun-calendar-684825 {
    height: 16px;
    width: 16px;
    background: var(--neutral-100);
    margin-right: -4px;
}

button.btn.dropdown-toggle.btn-default {
    height: 44px;
    background: none;
    border: none;
    border-bottom: 2px solid var(--border-100);
    transition: border-bottom .2s;
    display: flex;
    align-items: center;
    padding: 0px;
    cursor: pointer;
    border-radius: 0;
}

.filter-option {
    display: flex;
    align-items: center;
    font-family: 'Alaska';
    font-size: 14px;
    font-weight: 500;
    color: var(--neutral-100);
}

.dropdown.bootstrap-select.show-tick .dropdown-menu:not(.inner) {
    display: none;
}

.dropdown.bootstrap-select.show-tick.open .dropdown-menu:not(.inner) {
    display: block;
    position: absolute;
    z-index: 2;
    overflow: visible !important;
    top: calc(100% + 16px);
    width: calc(100% + 43px * 2);
    left: -43px;
    max-height: 100px !important;
    padding: 0;
    margin: 0;
}

div#webinar-date-filters {
    display: flex;
    column-gap: 32px;
}

.dropdown.bootstrap-select.show-tick {
    position: relative;
}

.dropdown-menu.open > .inner {
    padding: 0px 24px;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.2);
    height: auto;
    max-height: 300px !important;
}

ul.dropdown-menu.inner {
    list-style: none;
    display: flex;
    flex-flow: column;
    row-gap: 4px;
    padding: 16px 0px !important;
}

.bootstrap-select .dropdown-menu li {
    padding: 8px 8px 8px 15px;
    position: relative;
    z-index: 1;
}

.bootstrap-select .dropdown-menu li::before {
    content: '';
    background: var(--neutral-20);
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 4px;
    opacity: 0;
    transition: opacity .2s;
}

.bootstrap-select .dropdown-menu li:hover::before {
    opacity: 1;
}

.bootstrap-select .dropdown-menu li a:hover {
    color: var(--neutral-100);
    background: transparent;
}


.dropdown.open button.btn.dropdown-toggle.btn-default.bs-placeholder, button.btn.dropdown-toggle.btn-default.bs-placeholder:focus {
    outline: none !important;
    border-color: var(--neutral-100);
}

#webinar-date-filters input.form-control {
    border: none;
    height: 44px;
    background: none;
    padding: 0;
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid var(--border-100);
    font-family: 'Alaska';
    font-weight: 500;
    transition: border-bottom .2s;
    border-radius: 0px;
    box-shadow: none;
}

#webinar-date-filters input.form-control:focus, #webinar-date-filters input.form-control:active {
    outline: none;
    border-bottom: 2px solid var(--neutral-100);
}

#webinar-date-filters input.form-control::placeholder {
    font-size: 14px;
    color: var(--neutral-100);
    font-family: 'Alaska';
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour.bottom {
    position: absolute;
    background: white;
    border-radius: 6px;
    margin: 0;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.2);
    margin-top: 16px;
    padding: 0;
    z-index: 1;
    width: 367px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before, .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
    content: none !important;
    display: none;
}


.bootstrap-datetimepicker-widget ul.list-unstyled {
    list-style: none;
    padding: 16px 0px 0px 0px;
}

span.month {
    border: 1px solid var(--border-100);
    width: 104px !important;
    line-height: 42px !important;
    height: 42px !important;
    border-radius: 72px !important;
}

span.month.disabled {
    border: none;
}


.template-heroPlain.content-list-element {
    position: absolute !important;
    top: 0;
}

.contents_wrapper {
    position: relative;
}

.hero-message-container {
    width: 100%;
    margin: auto;
    display: flex !important;
    align-items: center;
}

.slider-hero.text-center.slider-plain.has-cover.text-lighter {
}

.slider-hero .hero-message h2 {
    font-family: 'Alaska';
}

.slider-hero .hero-message h3 {
    font-family: 'Alaska';
}

.slider-hero .hero-image-container {
    background-size: cover;
}

.slider-hero .hero-message {
    width: var(--grid-width);
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-self: center;
    margin: auto;
}

div#login-modal-area, div#event-enrollment-modal, div#login-modal-area, div#event-cancel-modal {
    /* display: none; */
}

footer.footer.j-footer {
    background: var(--neutral-100);
    margin-top: 96px;
    color: white;
    padding: 40px calc((100vw - var(--grid-width)) / 2);
}

footer.footer.j-footer * {
    color: white;
}

div.fullcalendar-widget {
    padding: 0px var(--grid-padding);
    width: var(--grid-width);
    margin: auto;
    display: flex;
    flex-flow: column;
    position: relative;
}

.calendar-legend {
    order: -1;
}

ul.legend-labels {
    list-style: none;
    display: flex;
    column-gap: 32px;
    font-size: 12px !important;
    font-weight: 500;
    display: flex !important;
    align-items: center;
}

ul.legend-labels li:before {
    content: '';
    height: 12px;
    width: 12px;
    background: red;
    display: inline-block;
    margin-right: 12px;
    border-radius: 50%;
    margin-bottom: -2px;
}

ul.legend-labels:before {
    content: 'Legend';
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'AlaskaExpanded';
    color: var(--neutral-70);
    font-weight: 400;
}

.fc-toolbar {
    padding: 30px 40px;
    background: var(--neutral-100);
    border-radius: 6px 6px 0px 0px;
    margin-bottom: 0 !important;
}

.fc .fc-toolbar>*>:first-child {
    font-weight: 500;
    color: white;
    min-width: 236px;
    text-align: left;
    font-size: 24px;
    font-family: 'Alaska';
    text-transform: none;
}

button.fc-prev-button, button.fc-next-button {
    background: none;
    border: 1px solid white !important;
    border-radius: 50% !important;
    height: 48px !important;
    width: 48px !important;
}

.fc-button-group {
    display: flex !important;
    column-gap: 8px;
}

.fc-left {
    display: flex;
    align-items: center;
}

button.fc-today-button {
    display: none;
}

.fc-icon-left-single-arrow:after, .fc-icon-right-single-arrow:after {
    filter: brightness(30.5);
}

.mb-0_5.timezone-notice {
    position: absolute;
    top: calc(50px + 40px);
    color: white;
    right: calc(var(--grid-padding) + 40px);
}

.mb-0_5.timezone-notice i {
    font-style: normal;
    font-size: 12px;
}

.full-calendar-hp {
    margin-top: 15px;
}

@media (min-width: 0px) and (max-width: 767px) {
    th.fc-day-header {
        padding: 12px !important;
        text-align: center !important;
        height: auto;
        font-size: 0px;
        font-weight: 500;
        overflow: hidden;
    }
    
    th.fc-day-header::first-letter {
        padding: 12px !important;
        text-align: center !important;
        height: auto;
        font-size: 12px;
        font-weight: 500;
        display: block;
    }   
}

@media (min-width: 768px) {
    th.fc-day-header {
        padding: 20px !important;
        text-align: center !important;
        height: auto;
        font-size: 14px;
        font-weight: 500;
    }
}

@media (min-width: 1024px) {
    th.fc-day-header {
        padding: 20px !important;
        text-align: left !important;
        height: auto;
        font-size: 16px;
        font-weight: 500;
    }
}


td.fc-day-number {
    padding: 16px !important;
    font-weight: 500;
}

div#upcomingWebinars, div#allWebinars {
    margin: 0;
    padding: 0;
    border: none;
}

.bootstrap-select.show-tick .dropdown-menu li a span.text {
    margin-right: 0px;
    word-break: break-all;
    width: 100%;
}

.bootstrap-select .dropdown-menu li a {
    white-space: pre-wrap;
    word-break: break-word;
}

.bootstrap-select .dropdown-menu li a {
    padding: 0px !important;
}

.panel-default>.panel-heading {
    display: none;
}

.form-group.view-select-filter {
    margin: 0;
    padding: 0;
}

.btn.btn-default.go-to-viewall span.icon-moon.icon-grid {
    display: none;
}

.panel-collapse {
    display: inline-block;
}

div#event-sessions-area {
    width: 100%;
}

.wrapwidg {
    border: none;
    margin: 0;
    padding: 0 !important;
}

div#more {
    width: 200px;
    margin: auto;
}

a.btn.btn-default.pager-more {
    padding: 0px;
    border: none;
    margin: 0px;
    border-bottom: 2px solid;
    border-radius: 0;
    font-size: 14px;
    font-family: 'AlaskaExpanded';
    font-weight: 500;
    padding-bottom: 12px;
    height: auto;
    line-height: normal;
}

.more i.fa.fa-chevron-down.pager-icon {
    display: none;
}

@media (min-width: 1024px) {
    #calendarWebinarsInner .wrapwidg.events-card-list {
        display: none;
    }    
}

#webinarFilters .widget_padding {
    margin-left: 40px;
}

div#calendarWebinarsInner .discover-calendar {
    margin-bottom: 40px;
}

div#main {
    min-height: auto;
}

div#home-wrapcontent .wrapcontent_padding {
    padding-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
    a.btn.btn-default.btn-sm.pager-more.btn-reply {
        margin-top: var(--grid-gutter);
    }    
}

.fc-row .fc-content-skeleton table {
    min-height: var(--calendar-row-height);
}

.fc-state-highlight span:before {
    content: '';
    position: absolute;
    height: 44px;
    width: 44px;
    background: var(--primary-50);
    z-index: -1;
    border-radius: 50%;
    right: -8px;
}

.fc-day-number span {
    z-index: 1;
    position: relative;
    height: 28px;
    width: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

td.fc-day-number.fc-state-highlight {
    background: white;
    border-color: #dddddd;
}

td.fc-day.fc-state-highlight {
    background: white;
}

a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
    margin: 0px 6px 6px 6px;
    padding: 16px 8px 16px 12px;
    background-color: var(--neutral-90);
    border: none;
}

@media (max-width: 1023px) {
    a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
        margin: 2px auto;
        padding: 0px;
        background-color: var(--neutral-90);
        border: none;
        height: 4px;
        width: 4px;
    }
    
    a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end * {
        opacity: 0;
    }

    td.fc-day-number {
        text-align: center !important;
    }
}

a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end .fc-content {
    display: flex;
    flex-flow: column;
    row-gap: 8px;
}

a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end .fc-content span.fc-time {
    order: 1;
    font-weight: 400;
    margin-top: 6px;
}

a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end .fc-content span.fc-language {
    font-family: 'AlaskaExpanded';
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--neutral-40);
}

a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end .fc-content span.fc-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;
}

#allWebinarsCalendar .contents_wrapper.row {
    row-gap: 12px;
    margin-top: 12px;
}

#allWebinarsCalendar .contents_wrapper.row .template-event_light {
    background: var(--neutral-100);
    color: white;
    border-radius: 6px;
    grid-column: 2 / span 6;
    width: 100%;
    padding: 0px;
}

#allWebinarsCalendar .contents_wrapper.row .template-event_light .border-text {
    padding: 24px;
}

#allWebinarsCalendar .contents_wrapper.row .template-event_light .border-text a {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 767px) {
    #allWebinarsCalendar .contents_wrapper.row .template-event_light {
        grid-column: 1 / span 4;
    }
}

/***** EVENT PAGE *****/ 

section.container.container-event-detail {
    margin: 0px;
    padding: 0px;
}

.clearfix.content_details.content_details_editorial {
    padding: 0;
    margin: 0 !important;
}

.row {
    margin: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.rich strong {
    font-family: 'Alaska';
    font-weight: 500;
}

.rich.about.col-sm-12 {
    background: none !important;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    grid-column-gap: var(--grid-gutter);
    padding: 96px var(--grid-padding);
    width: var(--grid-width);
    grid-row-gap: var(--paragraph-title-bottom-space);
}

.rich.about div:first-child {
    grid-row: 1;
    grid-column: 1 / span 4;
}

.rich.about .rich-description {
    grid-row: 2;
    grid-column: 1 / span 4;
    column-count: 1;
    column-gap: var(--grid-gutter);
    color: var(--neutral-100);
    font-size: 16px;
    line-height: 160%;
}

@media (min-width: 768px) {
    .rich.about div:first-child {
        grid-row: 1;
        grid-column: 1 / span 8;
    }

    .rich.about .rich-description {
        grid-row: 2;
        grid-column: 1 / span 8;
        column-count: 2;
    }
}

@media (min-width: 1024px) {
    .rich.about div:first-child {
        grid-row: 1;
        grid-column: 2 / span 10;
    }

    .rich.about .rich-description {
        grid-column: 2 / span 10;
    }
}

h3.section_title {
    margin: 0;
    font-size: var(--paragraph-title-fz);
    font-family: 'Alaska';
    font-weight: 500;
    color: var(--neutral-100);
}

.rich.learn.col-sm-12 {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    grid-column-gap: var(--grid-gutter);
    padding: 96px var(--grid-padding);
    width: var(--grid-width);
    grid-row-gap: var(--paragraph-title-bottom-space);
    position: relative;
    z-index: 1;
    background: none;
}

.rich.learn.col-sm-12:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -1;
    background: var(--neutral-20) !important;
    left: calc((100vw - var(--grid-width)) / -2);
}

.rich.learn div:first-child {
    grid-column: 1 / span 4;
    grid-row: 1;
}

.rich.learn .rich-description {
    grid-column: 1 / span 4;
    font-size: 16px;
    grid-row: 2;
    line-height: 160%;
}

@media (min-width: 768px) {
    .rich.learn div:first-child {
        grid-column: 1 / span 8;
    }

    .rich.learn .rich-description {
        grid-column: 1 / span 8;
    }
}

@media (min-width: 1024px) {
    .rich.learn div:first-child {
        grid-column: 2 / span 5;
    }

    .rich.learn .rich-description {
        grid-column: 7 / span 5;
        grid-row: 1;
    }
}

.rich.agenda.col-sm-12 {
    background: none !important;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    grid-column-gap: var(--grid-gutter);
    padding: 96px var(--grid-padding);
    width: var(--grid-width);
    grid-row-gap: var(--grid-gutter);
}

.rich.agenda div:first-child {
    grid-column: 1 / span 4;
    grid-row: 1;
}

.rich.agenda .rich-description {
    grid-column: 1 / span 4;
    font-size: 16px;
    grid-row: 2;
    line-height: 160%;
    color: var(--neutral-100);
}

@media (min-width: 768px) {
    .rich.agenda div:first-child {
        grid-column: 1 / span 8;
    }

    .rich.agenda .rich-description {
        grid-column: 1 / span 8;
    }
}

@media (min-width: 1024px) {
    .rich.agenda div:first-child {
        grid-column: 2 / span 5;
    }

    .rich.agenda .rich-description {
        grid-column: 7 / span 5;
        grid-row: 1;
    }
}

.rich.speakers.col-sm-12 {
    background: none !important;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    grid-column-gap: var(--grid-gutter);
    padding: 96px var(--grid-padding);
    width: var(--grid-width);
    grid-row-gap: var(--paragraph-title-bottom-space);
    margin-bottom: 96px;
}

.rich.speakers > div:first-child {
    grid-row: 1;
    grid-column: 2 / span 10;
}

.rich.speakers .rich-description {
    grid-row: 2;
    grid-column: 2 / span 10;
    column-count: 2;
    column-gap: var(--grid-gutter);
    color: var(--neutral-100);
    font-size: 16px;
    line-height: 160%;
    display: flex;
    flex-flow: column;
    row-gap: 96px;
}

.fx-sm-display.fx-sm-justify-space-around.fx-sm-wrap {
    width: 100%;
}

.photo.fx-xs-display.fx-xs-justify-center {
    height: 184px;
    width: 184px;
    border-radius: 50%;
    overflow: hidden;
}

img.img-responsive {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.speaker-card.fx-xs-display.fx-xs-direction-column.fx-xs-align-items-center.text-center {
    margin: 0;
    max-width: 184px;
}

[data-template^="speaker"] .speaker-card .name {font-family: 'Alaska';font-size: 20px;font-weight: 500;line-height: 130%;margin: 32px 0px 8px;}

[data-template^="speaker"] .speaker-card .role, [data-template^="speaker"] .speaker-card .company {
    font-size: 16px;
    font-family: 'Alaska';
    font-weight: 500;
    line-height: 170%;
    color: var(--neutral-70);
}

.esquire {
    height: auto;
    min-height: auto;
}

.esquire-message-container {
    position: absolute !important;
    top: 0 !important;
    left: 0;
    right: 0;
}

.esquire.dark {
    height: auto !important;
    min-height: auto;
    position: relative;
    padding-top: max(50%, 450px);
}

div#event-image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
}

.esquire-message-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    grid-column-gap: var(--grid-gutter);
    padding: 96px var(--grid-padding);
    grid-row-gap: var(--grid-gutter);
    grid-template-rows: 1px auto;
    align-content: center;
}

.share-until {
    grid-row: 1;
    grid-column: 1 / span 4;
    display: flex;
    align-items: center;
}

.esquire-message {
    grid-row: 2;
    grid-column: 1 / span 4;
}

.esquire-message * {
    font-family: 'Alaska';
    font-weight: 400;
}

.esquire-message h2 span {
    --fz: 36px;
    text-transform: none;
    font-size: var(--fz);
    line-height: 110%;
}

@media (min-width: 768px) {
    .esquire-message h2 span {
        --fz: 42px;
    }

    .esquire-message {
        grid-row: 2;
        grid-column: 1 / span 8;
    }

    .share-until {
        grid-row: 1;
        grid-column: 1 / span 8;
    }
}

@media (min-width: 1024px) {
    .esquire-message {
        grid-row: 2;
        grid-column: 2 / span 7;
    }

    .share-until {
        grid-row: 1;
        grid-column: 2 / span 7;
    }
}

@media (min-width: 1440px) {
    .esquire-message h2 span {
        --fz: 64px;
    }

    .esquire-message {
        grid-row: 2;
        grid-column: 2 / span 8;
    }

    .share-until {
        grid-row: 1;
        grid-column: 2 / span 8;
    }
}

.share-until:before {
    content: 'EVENT';
    font-family: 'AlaskaExpanded';
    font-size: 10px;
    font-weight: 500;
}

.days-until {
    background: var(--primary-20);
    color: black;
    font-size: 10px;
    font-family: 'AlaskaExpanded';
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 42px;
    margin-left: 12px;
    text-transform: uppercase;
}