@font-face {
	font-family: 'Montserrat Regular';
	src: url('../../fonts/Montserrat/Montserrat-Regular.eot');
	src: local('Montserrat Regular'),
		url('../../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
		url('../../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
		url('../../fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}